<section>
  <h3 id="clients">Clients</h3>

  <div class="client-controls">
    <div class="client-control-next"></div>
    <div class="client-control-prev"></div>
  </div>


  <div class="clients-belt">
    <div class="client-unit">

      <div class="client-face">
        <img src="" alt="client-face">
        <strong class="client-name">Scott Summers</strong>
        <em class=:client-title">Director of Design, Quebec Int.</em>
      </div>

      <div class="client-content">
        <p>alksdj la;ksjdl kwjeasjfh kasjdhak sjdh 
        kajhsakjdh kwjaheqkljwehs.sd kJASHd ? kajshd
        akshedwkjehaklsfn ,amsd </p>
      </div>
    </div>
  </div>


  <div class="clients-logo">
    <div class="client-logo active-client"></div>
    <div class="client-logo"></div>
    <div class="client-logo"></div>
    <div class="client-logo"></div>
  </div>


</section>
